@font-face {
    font-family: 'Benz Grotesk';
    src: url('../fonts/BenzGrotesk-Heavy.woff2') format('woff2'),
        url('../fonts/BenzGrotesk-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

:root {
    --pop-red: #DA4167;
    --pop-dark-red: #BB254B;
    --pop-white: #FFFBEB;
    --pop-yellow: #FFE270;
    --pop-light-blue: #1757bd;
    --pop-blue: #00378F;
}

.progressBar {
    background-color: var(--pop-red);
    top: 0;
    left: 0;
    height: 5px;
    position: fixed;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
    0 1px 3px rgba(0, 0, 0, 0.08);
    z-index: 999;
}

::-webkit-scrollbar {
    width: 0px;
}

html {
    scroll-behavior: smooth;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 10px;
    display: none;
    z-index: 99;
}

#pseudoModal {
    z-index: 9999 !important;
}

html {
    max-width: 100dvw !important;
}

body {
    overflow-x: hidden;
    user-select: none;
    box-sizing: border-box;
    background-image: url('/images/bg.png');
    background-size: cover;
    background-color: var(--pop-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    max-width: 100dvw !important;
}

body#home p {
    color: var(--pop-white) !important;
}

body#home .flex-wrapper {
    gap: 200px;
    display: flex;
    flex-direction: column;
}

header {
    font-family: 'Inter', Helvetica, sans-serif;
    font-weight: bold;
    color: var(--pop-white);
}

a:hover {
    text-decoration: none !important;
    color: inherit !important;
}

#logoDiv img {
    width: 10em;
}

#logoDiv:hover {
    transform: rotate(-1deg);
    transition: all ease-in 0.1s;
}

.navbar-nav {
    align-items: center;
}

#colorOverlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba (0, 0, 0, 0.3);
    z-index: -9998;
}

nav, main {
    width: 95%;
    max-width: 950px;
    margin: auto;
}

div#navHome {
    width: 50%;
    margin: auto;
}

ul#navHome {
    list-style-type: none;
    padding: 0;
    font-family: 'Benz Grotesk';
    text-align: center;
}

ul#navHome > li:nth-child(1) {
    font-size: 6em;
    color: var(--pop-white);
    background-color: var(--pop-red);
    border: 5px solid var(--pop-white);
    padding: 5px 30px;
    border-radius: 30px;
    margin-bottom: 40px;
    box-shadow: 0 4px 0 var(--pop-white), 0 4px 10px rgba (0, 0, 0, 0.4);
    text-shadow: none;
}

#playButton:hover,
#loginButton:hover {
    cursor: pointer;
}

#navHome > li:nth-child(5) {
    margin-bottom: 0;
}

#loginButton > p {
    font-family: 'Benz Grotesk';
    font-size: 1.2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

ul#navHome > li {
    font-size: 3em;
    color: rgba (255, 245, 205, 0.85);
    margin-bottom: 20px;
    text-shadow: 0 4px 10px rgba (0, 0, 0, 0.4);
}

ul#navHome > li:hover {
    transition: all ease-in 0.1s;
    color: var(--pop-white);
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
    font-family: 'Inter';
    color: var(--pop-white);
    text-shadow: 0 4px 10px rgba (0, 0, 0, 0.4);
    margin: auto;
}

footer a {
    font-weight: normal;
}

footer a:hover {
    font-weight: bold;
}

.image-container,
.image-container-2 {
    height: 550px;
}

.bg-image {
    background-image: url(../images/popquestillu.png);
    background-size: cover;
    background-position: 90% center;
    position: relative;
    height: 100%;
    z-index: -1;
}

.bg-image-2 {
    background-image: url(../images/popquestillu2.png);
    background-size: cover;
    background-position: 90% center;
    position: relative;
    height: 100%;
    z-index: -1;
}

/**
.gradient-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, var(--pop-blue) 0%, rgba(16, 16, 16, 0) 20%), 
                linear-gradient(90deg, var(--pop-blue) 0%, rgba(16, 16, 16, 0) 20%, var(--pop-blue) 100%), 
                linear-gradient(180deg, var(--pop-blue) 0%, rgba(16, 16, 16, 0) 20%, var(--pop-blue) 100%);
}
**/
#home label {
    color: var(--pop-white);
}

#home input, #home textarea {
    border-radius: 5px;
    border: none;
    color: var(--pop-white);
    background-color: var(--pop-light-blue);
}

.card-line {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    margin-bottom: 10px;
}

.card-line p {
    margin: 0;
}

.card-line p:nth-child(2) {
    font-size: 1.2em;
    font-weight: bold;
}

p {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

textarea {
    border: 0;
    border-radius: 15px;
    margin-bottom: 20px;
}

.content {
    width: 100%;
}

.container h1,
h1 {
    font-family: 'Benz Grotesk';
    text-align: center;
    color: var(--pop-red);
    font-size: 2.5em !important;
    margin-top: 0 !important;
    line-height: 0.9;
}

.container p {
    font-size: 1.2em;
}

.button-container {
    display: flex;
    justify-content: center;
}

button.default,
#contact-form > button {
    color: white;
    font-family: 'Benz Grotesk';
    font-size: 2.5em;
    padding: 10px 30px;
    height: auto;
    border-radius: 25px;
    background-color: var(--pop-red);
    border: 2px solid white;
    box-shadow: 0 0 #0000, 0 0 #0000, inset 0 -5px 0 0 rgba(0, 0, 0, 0.2);
}

button.default:hover,
#contact-form > button:hover {
    transition: all ease-in 0.1s;
    padding-top: 5px;
    padding-bottom: 15px;
    /*transform: translateY(4px);*/
    box-shadow: 0 0 #0000, 0 0 #0000, inset 0 -8px 0 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.playDiv {
    color: white;
    font-family: 'Benz Grotesk';
    font-size: 1.2em;
    padding: 5px 10px;
    height: auto;
    border-radius: 15px;
    background-color: var(--pop-red);
    border: 2px solid white;
    box-shadow: 0 0 #0000, 0 0 #0000, inset 0 -5px 0 0 rgba(0, 0, 0, 0.2);
}
.playDiv:hover {
    color: white !important;
    transition: all ease-in 0.1s;
    padding-top: 2px;
    padding-bottom: 8px;
    /*transform: translateY(4px);*/
    box-shadow: 0 0 #0000, 0 0 #0000, inset 0 -8px 0 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

h1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1::before, h1::after,
h1::after {
    content: url('../images/kernel.svg');
    opacity: 0.7;
    vertical-align: middle;
    height: 40px;
    width: 40px;
}
h1::before {
    margin-right: 8px; 
}
h1::after {
    margin-left: 8px; 
}

.leaderboard-list {
    padding: 20px 0;
    margin: 0;
    background-color: var(--pop-light-blue);
    padding: 20px;
    border-radius: 10px;
    justify-items: center;
    display: flex;
    flex-direction: column;
}

.leaderboard-list ul {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto;
    gap: 10px 0;
    list-style-type: none;
    justify-items: center;
    align-items: end;
}

.leaderboard-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 150px;
    padding: 10px;
    text-align: center;
    background-color: var(--pop-red);
    color: white;
    border-radius: 20px 20px 0 0;
    position: relative;
}

.leaderboard-item:nth-child(1),
.leaderboard-item:nth-child(2),
.leaderboard-item:nth-child(3) {
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.8s ease-in-out;
}

.leaderboard-item:nth-child(1).grow {
    height: 300px;
    color: var(--pop-dark-red);
    background-color: gold;
    grid-column: 2;
    order: 2;
    transition-delay: 0s;
}

.leaderboard-item:nth-child(2).grow {
    height: 220px;
    background-color: var(--pop-red);
    grid-column: 1;
    order: 1;
    justify-self: end;
    transition-delay: 0.1s;
}

.leaderboard-item:nth-child(3).grow {
    height: 180px;
    background-color: var(--pop-dark-red);
    grid-column: 3;
    order: 3;
    justify-self: start;
    transition-delay: 0.2s;
}

.leaderboard-item.grow {
    transform: scaleY(1);
}

.leaderboard-item:nth-child(n+4) {
    background-color: var(--pop-blue);
    border-radius: 10px !important;
    color: var(--pop-white);
    width: 80%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
    grid-column: span 3;
    order: 4;
}

.user-ldb {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

.leaderboard-item:nth-child(n+4) .user-ldb {
    flex-direction: row;
    gap: 10px;
}

.rank {
    font-size: 2.5em;
    font-family: 'Benz Grotesk';
    margin-bottom: 5px;
}

.username {
    font-size: 1em;
    margin-bottom: 5px;
}

.score {
    font-size: 1em;
}

.leaderboard-item:nth-child(1) .rank,
.leaderboard-item:nth-child(2) .rank,
.leaderboard-item:nth-child(3) .rank {
    font-size: 3em;
}

.leaderboard-item:nth-child(1) .username,
.leaderboard-item:nth-child(2) .username,
.leaderboard-item:nth-child(3) .username {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 0.8 !important;
}

.leaderboard-item:nth-child(1) .score,
.leaderboard-item:nth-child(2) .score,
.leaderboard-item:nth-child(3) .score {
    font-size: 1.2em;
}

.buttons-container {
    margin: 20px 0;
}

#faq .faq-item {
    background-color: var(--pop-light-blue);
    color: var(--pop-white);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}

#faq .row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.modal-content {
    background-color: var(--pop-blue) !important;
    color: var(--pop-white) !important;
}

.modal-title {
    font-family: 'Benz Grotesk' !important;
    font-size: 1.3em !important;
}

#pseudoModal > div > div > div.modal-header > button > span {
    color: var(--pop-white);
}

#pseudoForm {
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    padding: 0 !important;
}

#pseudoForm .form-group {
    flex: 1;
}

#pseudoForm input[type="text"] {
    width: 100%;
}

#pseudoForm button {
    flex: 0 0 20%;
    font-size: 1em;
    padding: 10px;
    border-radius: 15px;
}

body.static .container {
    background-color: var(--pop-white);
    padding: 40px;
    margin: 20px 0;
    border-radius: 20px;
}

body.static h1 {
    margin-bottom: 20px;
}

body.static h2 {
    font-family: 'Benz Grotesk';
    font-size: 1.5em;
    margin-top: 20px;
    color: var(--pop-dark-red);
}

body.static .container ul {
    list-style-type: circle;
    font-size: 1.2em;
}

body.static .leaderboard-list {
    background-color: transparent !important;
}

.modal-content {
    border-radius: 15px;
    border: 2px solid white;
    padding: 20px 10px;
}

.modal-header {
    border-bottom: 0 !important;
}

#pseudoForm .form-group,
input.form-control {
    margin-bottom: 0 !important;
}

.faq-item h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
}

.static #playButton {
    border: 2px solid #ae3452 !important;
}

@media (max-width: 991.98px) {
    .navbar.d-none.d-lg-flex {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .navbar.d-lg-none {
        display: none !important;
    }
}

.bg-warning {
    background-color: var(--pop-red) !important;
}

.js-cookie-consent-agree {
    background-color: var(--pop-dark-red) !important;
    border: none;
    color: white !important;
    padding: 8px 20px !important;
}

.js-cookie-consent-agree:hover {
    background-color: #751c32 !important;
}

.cookie-consent__message {
    font-size: 1em !important;
}

body#contact input,
body#contact textarea {
    border: 2px solid var(--pop-red);
    border-radius: 10px;
}

body#contact h1 + p {
    text-align: center;
}

body#contact label {
    color: var(--pop-dark-red);
}

body#home ul + a {
    margin-top: 10px;
}

body#home ul + a:hover, 
body#error main a:hover {
    color: var(--pop-red) !important;
}

body#leaderboard .leaderboard-list {
    padding-bottom: 0;
    margin-bottom: 0 !important;
}

body#leaderboard .button-container {
    margin-top: 20px;
}

#welcome .text-content,
#story .text-content {
    gap: 30px;
    display: flex;
    flex-direction: column;
}

#story .text-content {
    margin-top: -50px;
}

#contact h1 + p {
    text-align: center;
}

body#error {
    overflow-x: hidden;
    user-select: none;
    box-sizing: border-box;
    background-image: url('/images/error.webp') !important;
    background-size: cover;
    background-color: var(--pop-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100dvh;
    max-height: 100dvh;
    max-width: 100dvw !important;
}

body#error main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body#error main * {
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
    0 1px 3px rgba(0, 0, 0, 0.08);
}

body.static main {
    display: flex;
    justify-content: center;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: var(--pop-red);
    animation: spin 1s ease infinite;
    margin: 10px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.leaderboard-navbar li a .full-label {
    display: inline;
}

.leaderboard-navbar li a .short-label {
    display: none;
}

@media (max-width: 768px) {
    .leaderboard-navbar li a .full-label {
        display: none;
    }

    .leaderboard-navbar li a .short-label {
        display: inline;
    }

    .leaderboard-navbar {
        margin-bottom: 20px;
        margin-top: -10px;
    }

    .leaderboard-navbar li * {
        font-size: 1em !important;
    }
}