@import url('style.css');

main {
    position: relative;
    width: 850px;
    margin: auto;
    margin-top: 170px;
}

.container {
    width: 100%;
    background-color: var(--pop-white);
    border-radius: 20px;
    padding: 50px 100px;
    font-family: 'Inter';
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.container-shadow {
    background-color: var(--pop-red);
    border-radius: 20px;
    width: 100%;
    top: 0;
    left: 0;
    transform: rotate(-2deg);
    z-index: -1;
    position: absolute;
}

.content {
    width: 100%;
}

.container h1,
h1 {
    font-family: 'Benz Grotesk';
    text-align: center;
    color: var(--pop-red);
    font-size: 3.5em;
    margin-top: 0;
    line-height: 0.9;
    text-transform: uppercase;
}

.container p {
    font-size: 1.2em;
}

.button-container {
    display: flex;
    justify-content: center;
}

button.default,
#contact-form > button {
    color: white;
    font-family: 'Benz Grotesk';
    font-size: 2.5em;
    padding: 10px 30px;
    height: auto;
    border-radius: 15px;
    background-color: var(--pop-red);
    border: 5px solid var(--pop-dark-red);
    box-shadow: 0 4px 0 var(--pop-dark-red);
}

button.default:hover,
#contact-form > button:hover {
    transition: all ease-in 0.1s;
    transform: translateY(4px);
    box-shadow: 0 0 0px var(--pop-dark-red);
    cursor: pointer;
}

.container h1::before,
h1::before {
    content: url('../assets/images/kernel.svg');
    opacity: 0.7;
    margin-right: 8px; 
    vertical-align: middle;
}
.container h1::after,
h1::after {
    content: url('../assets/images/kernel.svg');
    opacity: 0.7;
    margin-left: 8px; 
    vertical-align: middle;
}

.leaderboard-list {
    display: grid;
    grid-template-rows: 60% 15% 15%;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 200px;
}

.leaderboard-list > li {
    display: flex;
    align-items: center;
}

.leaderboard-list > li:nth-child(1) {
    order: 2;
}

.leaderboard-list > li:nth-child(2) {
    order: 1;
}

.leaderboard-list > li:nth-child(3) {
    order: 3;
}

.leaderboard-list > li:nth-child(-n+3) {
    flex-direction: column;
    justify-content: flex-end;
}
.leaderboard-list > li:nth-child(4) {
    grid-column: 1 / span 3;
    grid-row: 2;
}

.leaderboard-list > li:nth-child(5) {
    grid-column: 1 / span 3;
    grid-row: 3;
}

.leaderboard-list > li:nth-child(4),
.leaderboard-list > li:nth-child(5) {
    justify-content: center;
    gap: 100px;
}

.leaderboard-list > li:nth-child(4) > .score,
.leaderboard-list > li:nth-child(5) > .score {
    order: 2;
}

.user-ldb {
    display: flex;
    align-items: center;
}

.leaderboard-list > li:nth-child(4) .rank, 
.leaderboard-list > li:nth-child(5) .rank {
    font-size: 2em;
}

.rank {
    font-size: 4em;
    font-family: 'Benz Grotesk';
    color: var(--pop-red);
    margin-right: 10px;
}

.leaderboard-list .username {
    font-size: 1.2em;
}

.leaderboard-list > li:nth-child(1) .username {
    font-weight: bold;
    font-size: 1.8em;
    color: var(--pop-red);
}

.leaderboard-list > li:nth-child(2) .username,
.leaderboard-list > li:nth-child(3) .username {
    font-size: 1.4em;
}
 
div.question {
    display: flex;
    gap: 10px;
    align-items: center;
}

div.question h3 {
    margin: 0;
    color: var(--pop-red);
    font-size: 1.3em;
}

.question h3::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 6.5px;
    border-left: 6.5px solid transparent;
    border-right: 6.5px solid transparent;
    border-top: 13px solid var(--pop-red);
    transition: all 0.2s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
}

.question h3::after:hover {
    cursor: pointer;
}

.answer {
    display: none;
}

.answer.visible {
    display: block;
}

.question h3.up::after {
    transition: all 0.2s cubic-bezier(0.23, 1, 0.320, 1);
    transform: rotate(180deg);
}